body {
  font-family: 'Roboto', sans-serif;
  color: #545e6c;
  background: #f5f5f5;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: #2d7788;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #1a454f;
}

a:focus {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.wrapper {
  background: #42a8c0;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  box-shadow: 0 0 8px 0px #ccc;
}

/* 右侧 */
.sidebar-wrapper {
  background: #42a8c0;
  position: absolute;
  right: 0;
  width: 240px;
  height: 100%;
  min-height: 800px;
  color: #fff;
}

.sidebar-wrapper a {
  color: #fff;
}

.sidebar-wrapper .profile-container {
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
}

.sidebar-wrapper .name {
  font-size: 32px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}
.tlinks {
  text-indent: -9999px;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}
.sidebar-wrapper .tagline {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar-wrapper .profile {
  margin-bottom: 15px;
}

.sidebar-wrapper .contact-list .svg-inline--fa {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}

.sidebar-wrapper .contact-list li {
  margin-bottom: 15px;
}

.sidebar-wrapper .contact-list li:last-child {
  margin-bottom: 0;
}

.sidebar-wrapper .contact-list .email .svg-inline--fa {
  font-size: 14px;
}

.sidebar-wrapper .container-block {
  padding: 20px;
}

.sidebar-wrapper .container-block-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

.sidebar-wrapper .degree {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}

.sidebar-wrapper .education-container .item {
  margin-bottom: 15px;
}

.sidebar-wrapper .education-container .item:last-child {
  margin-bottom: 0;
}

.sidebar-wrapper .education-container .meta {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 14px;
}

.sidebar-wrapper .education-container .time {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  margin-bottom: 0px;
}

.sidebar-wrapper .languages-container .lang-desc {
  color: rgba(255, 255, 255, 0.6);
}

.sidebar-wrapper .languages-list {
  margin-bottom: 0;
}

.sidebar-wrapper .languages-list li {
  margin-bottom: 10px;
}

.sidebar-wrapper .languages-list li:last-child {
  margin-bottom: 0;
}

.sidebar-wrapper .interests-list {
  margin-bottom: 0;
}

.sidebar-wrapper .interests-list li {
  margin-bottom: 10px;
}

.sidebar-wrapper .interests-list li:last-child {
  margin-bottom: 0;
}

/* 左侧 */
.main-wrapper {
  background: #fff;
  padding: 60px;
  padding-right: 300px;
}

.main-wrapper .section-title-box {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #2d7788;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
}

/* 添加线 */
.main-wrapper .section-title-box::before {
  content: '';
  width: 100%;
  display: block;
  height: 1px;
  background-color: #efefef;
  position: absolute;
  z-index: 1;
}
.main-wrapper .section-title-box .section-title {
  background-color: #eeeeee;
  border-radius: 16px;
  color: #565973;
  min-width: 120px;
  height: 32px;
  display: flex;
  font-size: 20px;
  font-weight: bolder;
  justify-content: center;
  letter-spacing: 4px;
  align-items: center;
  position: relative;
  z-index: 2;
}
.main-wrapper .section-title-box .section-title::before {
  content: '';
  display: block;
  position: absolute;
  left: -20px;
  width: 20px;
  height: 32px;
  background: #fff;
}
.main-wrapper .section-title-box .section-title::after {
  content: '';
  display: block;
  position: absolute;
  right: -20px;
  width: 20px;
  height: 32px;
  background: #fff;
}

.main-wrapper .summary .summary-title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}
.main-wrapper .summary .summary-title .summary-icon-holder {
  width: 29px;
  height: 29px;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  background: #2d7788;
}
.main-wrapper .summary .summary-title .summary-icon-holder svg {
  font-size: 14px;
}
.main-wrapper .summary .summary-title .familiar {
  border-radius: 16px;
  padding: 3px 10px;
  font-size: 14px;
  color: #2d7788;
  min-width: 40px;
  border: 1px solid #2d7788;
}

.main-wrapper .summary .work-time {
  margin-top: 5px;
  color: #97aac3;
}
.main-wrapper .summary .summary-content {
  padding: 20px 0;
}
.main-wrapper .summary .summary-content > span {
  display: block;
  padding: 4px 4px 4px 25px;
  font-size: 14px;
  position: relative;
}
.main-wrapper .summary .summary-content > span::before {
  content: attr(index);
  display: inline-block;
  position: absolute;
  text-align: right;
  width: 20px;
  font-size: 14px;
  left: 0;
}

.main-wrapper .summary .summary-content > .project-title {
  color: #5694de;
  font-size: 16px;
  font-weight: bolder;
}
.main-wrapper .summary .summary-content > .project-subtitle,
.main-wrapper .summary .summary-content > .content-box .item-title {
  color: #545e6c;
  font-size: 14px;
  font-weight: bolder;
  padding: 2px;
  margin: 4px 0;
}
.main-wrapper .summary .summary-content > .content-box > div {
  padding: 8px;
}
.main-wrapper .summary .summary-content > .content-box > .technology-box {
  padding: 0 8px;
}
.main-wrapper .summary .summary-content > .content-box > .duty {
  padding: 0 8px;
}
.main-wrapper .summary .summary-content > .content-box .technology-box span {
  display: block;
  margin-bottom: 2px;
}
.main-wrapper .summary .summary-content > .content-box .item-project-desc {
  background-color: #f3f3f3;
  border-radius: 4px;
  color: #767676;
  line-height: 24px;
}

.main-wrapper .summary .summary-content > .content-box {
  padding-left: 20px;
  font-size: 14px;
}

/* old */
.main-wrapper .section-title .icon-holder {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: inline-block;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #2d7788;
  text-align: center;
  font-size: 16px;
  position: relative;
  top: -8px;
}

.main-wrapper .section-title .icon-holder .svg-inline--fa {
  font-size: 14px;
  margin-top: 6px;
}

.main-wrapper .section {
  margin-bottom: 60px;
}

.main-wrapper .experiences-section .item {
  margin-bottom: 30px;
}

.main-wrapper .upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}

.main-wrapper .job-title {
  color: #3f4650;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.main-wrapper .time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97aac3;
}

.main-wrapper .company {
  margin-bottom: 10px;
  color: #97aac3;
}

.main-wrapper .project-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 5px;
}

.main-wrapper .projects-section .intro {
  margin-bottom: 30px;
}

.main-wrapper .projects-section .item {
  margin-bottom: 15px;
}

.skillset .item {
  margin-bottom: 15px;
  overflow: hidden;
}

.skillset .level-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}

.skillset .level-bar {
  height: 12px;
  background: #f5f5f5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.skillset .theme-progress-bar {
  background: #68bacd;
}

.footer {
  padding: 30px;
  padding-top: 60px;
}

.footer .copyright {
  line-height: 1.6;
  color: #545e6c;
  font-size: 13px;
}

.footer .fa-heart {
  color: #fb866a;
}

@media (max-width: 767.98px) {
  .sidebar-wrapper {
    position: static;
    width: inherit;
  }
  .main-wrapper {
    padding: 30px;
  }
  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }
  .main-wrapper .summary-title .familiar {
    display: none;
  }
  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .skillset .level-title {
    margin-bottom: 2px;
  }
}
